.footer {
    margin-top: 50px;
    padding: 35px 0;
    background: $brand-border;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__img {
        width: 210px;
        margin: 20px 0 30px;
    }
    &__contacs {
        margin: 10px 0;
        row-gap: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &-list {
            display: flex;
            flex-direction: column;
        }
        &-link {
            font-size: 15px;
            font-weight: 400;
            color: $text-color;
        }
    }
    &__social {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-title {
            font-size: 14px;
            margin-bottom: 5px;
            color: $text-color;
        }
        &-list {
            margin: 5px 0;
            display: flex;
            column-gap: 10px;
        }
        &-link {
            svg {
                padding: 4px;
                background-color: $text-color;
                fill: #fff;
                transition: .7s ease all;
                height: 18px;
                width: 18px;

                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }
    &__cards {
        margin-bottom: 10px;

        &-list {
            display: flex;
            column-gap: 10px;
            justify-content: center;
        }
        &-link {
            img {
                width: 45px;
            }
        }
    }
    &__copyright {
        margin: 10px 0;

        &-title {
            font-size: 16px;
            line-height: 150%;
            color: $text-color;
        }
    }
    &__job {
        &-list {
            display: flex;
            align-items: center;
        }
        &-item {
            font-size: 16px;
            line-height: 150%;
            color: $text-color;

            form {
                button {
                    padding: 6px 9px;
                    background: $text-color;
                    color: $footer-btn;
                    margin-left: 5px;
                    border: none;
                }
            }
        }
    }
}