.shop {
    &-magazin {
        display: flex;
        column-gap: 25px;
    }
    &__wrp {
        margin: 20px 0;

    }
    &__title {
        padding: 10px 0;
        font-size: 35px;
        color: $text-color;
    }
    &__list {
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
    }
    &__filter {
        display: none;
    }
}

@media screen and (max-width: $tabletWidth) {
    .shop {
        &__filter {
            display: flex;
            align-items: center;
                
            &-aside {
                position: fixed;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;

                &:before {
                    content: '';
                    display: block;
                    width: 250vmax;
                    height: 250vmax;
                    border-radius: 50%;
                    background: #fff;
                    position: absolute;
                    top: calc(32px - 125vmax);
                    right: calc(40px - 125vmax);
                    transform: scale(0.0);
                    transition: transform 0.3333s ease-in-out;
              
                  
                    .menuOpen & {
                        transform: scale(1);
                        transition: transform 0.3333s ease-in-out;
                    }
                }
            }
            &-nav {
                position: relative;
                z-index: 1;
                opacity: 0;
                transition: none;
    
                .menuOpen & {
                    opacity: 1;
                    transition: opacity 0.1s 0.25s ease-in-out ;
                }
            }
            &-btn {
                position: fixed;
                right: 24px;
                
                border: none;
                background: none;
                width: 32px;
                height: 20px;
                margin: 0;
                padding: 0;
                
                &:focus {
                  outline: none;
                }
                
                span,
                span:before,
                span:after {
                  content: '';
                  display: block;
                  width: 32px;
                  height: 2px;
                  background: $text-color;
                  transition: 0.1s ease-in-out;
                  .menuOpen & {
                    background: #333;
                  }
                }
                
                span:before {
                  position: absolute;
                  top: 0;
                }
                
                span:after {
                  position: absolute;
                  bottom: 0;
                }
            }
            &-list {
                list-style: none;
                margin: 0;
                padding: 10vmin;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            &-item {
                flex: 0 0 auto;
                font-size: 10vmin;
                padding: 2.5vmin;
                font-family: 'Raleway', sans-serif;
                font-weight: 400;
                color: #1d1d40; 
                
                opacity: 0;
                transform: translateX(50%);
                transition: all 0.2s ease-in-out;
                
                @for $i from 1 to 5 {
                    &:nth-of-type(#{$i}) {
                        transition-delay: (0.3s + (0.05s * $i))
                    }
                }
                
                .menuOpen & {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }
        &__list {
            display: flex;
            justify-content: center;
        }
    }
}
